@import "../../theme/variables.scss";

.cart {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(220, 219, 219);
}

.cart__container {
    margin-top: 30px;
}

.cart__title {
    font-family: sans-serif;
    font-size: 35px;
}

.cart__button-container {
    margin: 10px 0px 20px 0px
}
.cart__button {
    width: 200px;
    border-radius: 3px;
    border: white;
    font-size: 15px;
    font-family: sans-serif;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}

.cart__loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.cart__loading-title {
    margin: 10px 0px 30px 0px;
    font-family: sans-serif;
}

.cart__empty-warn-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.cart__empty-warn-button {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    background-color: rgb(112, 191, 222);
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    width: 300px;
    text-align: center;
}

.cart__empty-warn-image {
    width: 300px;
}