.cart {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $background-color;
}

.cart__warning-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.cart__warning-image {
    width: 300px;
}

.cart__warning-button {
    font-family: $base-font;
    text-decoration: none;
    color: white;
    background-color: $base-color;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    width: 300px;
    text-align: center;
}

.cart__container {
    margin-top: 30px;
}

.cart__button-container {
    margin: 10px 0px 20px 0px;   
}
.cart__button {
    border-radius: 3px;
    border: white;
    font-size: 15px;
    font-family: $base-font;
    font-weight: bold;
    background-color: $base-color;
    color: white;
    padding: 5px 30px 5px 30px;
    cursor: pointer;
    text-decoration: none;
}


