.error {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error__title {
    font-family: $base-font;
    font-weight: bold;
    font-size: 35px;
    color: $base-color;
    margin-bottom: 7px;
    margin-top: 0px;
    padding-top: 15px;
}

.error__image {
    width: 400px;
}