.topbar {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: $base-color;
    position: fixed;
    z-index: 5;
}

.topbar__title-container {
    text-decoration: none;
}

.topbar__title {
   color: white;
   font-size: 35px;
   font-family: $base-font;
   margin-left: 20px;
   text-decoration: none;
}

.topbar__items-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    justify-content: end;

}

.topbar__items {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
}

.topbar__item{
    cursor: pointer;
    text-decoration: none;
    color:white;
    font-size: 25px;
    font-weight: bold;
    font-family: $base-font;
    &:hover {
        opacity: 0.8;
    }
}

.topbar__cart {
    margin-top: 5px;
}

.topbar__username {
    background-color: white;
    color: $base-color;
    padding: 10px;
    border-radius: 10px;
}

.topbar__profile {
    font-family: $base-font;
    color: $base-color;
    background-color: white;
    font-weight: bold;
    margin-right: 15px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 20px;
}

.topbar__profile-title {
    text-decoration: none;
    color: $base-color;
}