.topbar {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: $base-color;
}

.topbar__title-container {
    text-decoration: none;
}

.topbar__title {
   color: white;
   font-size: 35px;
   font-family: $base-font;
   margin-left: 20px;
   text-decoration: none;
}

.topbar__items-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
}

.topbar__item{
    cursor: pointer;
    text-decoration: none;
    color:white;
    font-size: 25px;
    font-weight: bold;
    font-family: $base-font;
}

.topbar__cart {
    margin-top: 5px;
}

.topbar__username {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
