.home {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: monospace;
  justify-content: center;
  background-color: rgb(220, 219, 219);

  & h5 {
    font-size: 12px;
    margin: 0;
  }
}

.home__title {
  font-size: 50px;
}

.home__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 20px 0px 20px;
}

