.home__view {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: $base-font;
  justify-content: center;
  background-color: rgb(220, 219, 219);

  & h5 {
    font-size: 12px;
    margin: 0;
  }
}

.home__title {
  font-size: 35px;
  color: white;
  font-family: $base-font;
  background-color: $base-color;
  padding: 5px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.home__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 20px 0px 20px;
}

.home__no-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.home__no-products-image {
  width: 450px;
  margin-top: 0px;
}

.home__no-products-title {
  color: $base-color;
  font-family: $base-font;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;
}