.products {
    background-color: $background-color;
    text-align: center;
}

.products__title {
    font-size: 50px;
}

.products__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 20px 0px 20px;
}

