.container {
    text-align: center;
}

h1 {
    font-family:sans-serif;
    margin-top: 0px;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1000px;
    text-align:left
}