.gift {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gift__container {
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    margin: 40px 0px 20px 0px;
}

.gift__title {
    font-family: $base-font;
    margin-bottom: 40px;
    color: white;
    text-align: center;
    background-color: $base-color;
    width: 100%;
    padding: 10px 0px 10px 0px;
}