.product-details {
    padding-top: 50px;
}

.product-details__global-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(220, 219, 219);
    font-family: $base-font;
}

.product-details__button-container {
    width: 100%;
    margin: 15px 0px 15px 25px;
}

.product-details__button {
    background-color: $base-color;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: white;
    font-family: $base-font;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.product-details__container {
    background-color: white;
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: left;
    margin: 10px 0px 30px 0px;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
}

.product-details__image-container {
    height: auto;
    margin: 10px 0px 10px 0px;
}

.product-details__image {
    margin: 10px 0px 0px 10px;
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.product-details__info {
    margin-bottom: 50px;
    height: auto; 
    width: 500px;
}

.product-details__category-container {
    width: fit-content;
    padding: 0px 10px 0px 10px;
}

.product-details__category {
    background-color: $base-color;
    color: white;
    border-radius: 5px;
    width: auto;
    padding: 5px;
    font-weight: bold;
}

.product-details__error {
    padding-top: 50px;
}