.filters__container {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.filters__categories-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 40px 10px 40px;
    align-items: center;
}

.filters__categories {
    text-decoration: none;
    font-family: $base-font;
    color: $base-color;
    &:hover {
        opacity: 0.8;
    }
}