.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $base-color;
}

.login__container{
    width: auto; 
    padding: 30px 50px 30px 50px;
    border-style: double;
    border-color: white;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.login__image {
    width: 300px;
}

.login__title {
    font-family: $base-font;
    color: $base-color;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.login__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__input-container {
    display: flex;
    flex-direction: column;
    margin: 20px 30px 20px 30px;
}

input {
    border: solid $base-color 1px;
    font-family: $base-font;
    margin-bottom: 5px;
    text-align: center;
    color: $base-color;
}

.login__button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.login__button {
    border: none;
    background-color: $base-color;
    width: 100px;
    padding: 5px;
    border-radius: 2px;
    color: white;
    font-family: $base-font;
    font-weight: bold;
}
